@model IEnumerable<Veterinarios.Models.Animais>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de animais</h1>
@if (User.IsInRole("Cliente")) {
    <h4>dono:<i> @Model.FirstOrDefault().Dono.Nome</i>  </h4>
}

@if (User.IsInRole("Veterinario")) {
    // apenas para demonstrar como se limita o acesso conforme o tipo de PERFIL
    <p>
        <a asp-action="Create">Criar novo</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            @if (User.IsInRole("Veterinario")) {
                <th>
                    @Html.DisplayNameFor(model => model.Dono)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foto)
                </td>
                @if (User.IsInRole("Veterinario")) {
                    <td>
                        @Html.DisplayFor(modelItem => item.Dono.Nome)
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
