@model IEnumerable<Veterinarios.Models.MedicosVeterinarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Listagem de todos os médicos veterinários</h1>


@if (User.Identity.IsAuthenticated) {
    <p>
        <a asp-action="Create">Adicionar novo médico</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCedulaProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            @* Model -> representa a lista de médicos veterinários enviados para a View *@
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                    @* este html.helper mostra o conteúdo de cada um dos registos da listagem do Model
                        neste caso, o Nome
                    *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumCedulaProf)
                </td>
                <td>
                    @*  @Html.DisplayFor(modelItem => item.Fotografia)  *@
                    <a href="~/Fotos/@item.Fotografia"
                   target="_blank">
                        <img src="~/Fotos/@item.Fotografia"
                         alt="Fotografia do médico(a) @Html.DisplayFor(modelItem => item.Nome)"
                         title="@item.Nome"
                         height="50" />
                    </a>
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated) {
                        <text>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                        </text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
